<div class="w-full bg-white-900 pt-6 pb-8 rounded-lg border border-whihte-200 flex flex-col">
    <h4 class="px-4 text-heading-4-medium text-neutral-900">Settings</h4>
    <hr class="my-6">
    <form class=" flex flex-col items-start gap-6 px-4">
        <div class="flex flex-col gap-1">
            <label for="" class="form-label">Site Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="flex flex-col gap-1">
            <label for="" class="form-label">Support Email</label>
            <input type="text" class="form-control">
        </div>
        <div class="flex flex-col gap-1">
            <label for="" class="form-label">Monthly Order Goal</label>
            <input type="text" class="form-control">
        </div>
        <button class="btn btn-submit mt-4 ">
            Save Changes
        </button>
    </form>
</div>